<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="drive" value="r" />
    <add key="server" value="localhost" />
    <add key="database" value="SQLFS" />
    <add key="user" value="Dokan" />
    <add key="password" value="Foobar2000" />
  </appSettings>
</configuration>
